/* Error container */
.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 64pt 0 64pt 0;
	gap: 10pt;
	width: 50%;
}

/* Error code */
.error-code {
	font-size: 48pt;
	margin: 0;
	text-shadow: 0 0 10px #111;
	user-select: none;
}

/* Error description */
.error-description {
	color: #888;
	line-height: 0.25em;
	margin: 0.25em 0;
	font-size: 14pt;
	user-select: none;
}
