/* Base container */
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 64pt 0 64pt 0;
	gap: 10pt;
	width: 50%;
}

/* Title */
#home-title {
	font-size: 48pt;
	margin: 0;
	text-shadow: 0 0 10px #111;
	user-select: none;
}

/* Subtitle**/
#home-subtitle {
	color: #888;
	line-height: 0.25em;
	margin: 0.25em 0;
	font-size: 14pt;
	user-select: none;
}

@media (max-width: 700px) {
	.home {
		width: 90%;
		margin: 40pt 0 40pt 0;
	}
}