/* Parent container */
.post {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 28pt 0 28pt 0;
	align-items: start;
}

/* Post header */
.post-header {
	display: flex;
	align-items: center;
	height: 20pt;
}

/* Author's profile picture */
.post-pfp {
	border-radius: 100%;
	height: inherit;
	object-fit: cover;
}

/* Author's usernam */
.post-username {
	padding-left: 4pt;
	padding-right: 4pt;
	color: lightblue;
}

/* Verification badge on post */
.post-verified {
	width: 12px;
	padding-right: 4pt;
	user-select: none;
}

/* Post's contents */
.post-body {
	margin-top: 8pt;
	margin-bottom: 0;
}

/* Container for attachments */
.post-media {
	display: flex;
	border-radius: 12pt;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	gap: 4px;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 8pt;
}

/* Container for each row of two objects */
.post-media-row {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	box-sizing: border-box;
	gap: inherit;
	justify-content: center;
	flex-wrap: nowrap;
}

/* Single object */
.post-media-object {
	object-fit: cover;
	overflow: hidden;
	max-width: 100%;
	flex: 1;
}

/* If not applied, post will cover the viewport's width */
.post-media-object:fullscreen {
	object-fit: contain;
}

/* Includes like count */
.post-footer {
	display: flex;
	align-items: center;
	justify-items: center;
	line-height: 0;
	margin-top: 12pt;
}

/* Heart icon */
.post-heart {
	width: 16px;
	max-height: 100%;
	margin-bottom: 0.5pt;
	user-select: none;
}

/* Like count */
.post-like-count {
	margin: 0 6pt 0 0;
}

/* Faint text */
.post-faint {
	padding-left: 4pt;
	padding-right: 4pt;
	color: #bbb;
}

/* Adjustments for light mode */
@media (prefers-color-scheme: light) {
	.post-username {
		color: darkblue;
	}

	.post-faint {
		color: #555;
	}
}

/* Adjustments for smaller screens */
@media (max-width: 1152px) {
	.post {
		margin: 16pt 0 16pt 0;
	}

	.post-body {
		text-align: justify;
	}
}