{# Adds hyperlinks on body #}
{% macro url(body) %}
	{# Unwrap line breaks, split body on every space, and define the return variable #}
	{%- set ats = body | linebreaksbr | replace(from="<br>", to="<br> ") | split(pat=' ') -%}
	{%- set new_body = "" -%}

	{# Build the new body #}
	{%- for string in ats -%}
		{# Check for mentions #}
		{%- if string is containing("@") -%}
			{# Check whether they end in an exclamation mark #}
			{%- if string is ending_with("!")%}
				{%- set at = string | trim_end_matches(pat="!") -%}
				{%- set rest = "!" -%}
			{# Check whether they end in a question mark #}
			{%- elif string is ending_with("?") -%}
				{%- set at = string | trim_end_matches(pat="?") -%}
				{%- set rest = "?" -%}
			{# Leave string as-is if none of the previous characters were found #}
			{%- else -%}
				{%- set at = string -%}
				{%- set rest = "" -%}
			{%- endif -%}

			{# Append hyperlinked mention to new body #}
			{%- set at_tagged = '<a href="/' ~ at ~ '">' ~ at ~ '</a>' -%}
			{%- set_global new_body = new_body ~ at_tagged ~ rest ~ " " -%}

		{# Check for URLs #}
		{%- elif string is containing("://") -%}
			{# Strip down URL suffix to display it in a cleaner way #}
			{%- set url_string = string | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") | trim_start_matches(pat="www.") -%}
			{# Append hyperlinked URL to new body #}
			{%- set url_tagged = '<a href="' ~ string ~ '">' ~ url_string ~ '</a>' -%}
			{%- set_global new_body = new_body ~ url_tagged ~ " " -%}
		{# Append string as-is to new body if none of the previous cases were satisfied #}
		{%- else -%}
			{%- set_global new_body = new_body ~ string ~ " " -%}
		{%- endif -%}
	{%- endfor -%}

	{# Return new body #}
	{{new_body | trim | safe }}
{% endmacro url %}
