{# Follower suffix #}
{% macro suffix(num) %}
	{# Billions #}
	{%- if (num / 1000000000) > 1 -%}
		{{ num / 1000000000 | round(method="floor", precision=1) }}B
	{# Hundreds of millions #}
	{%- elif (num / 100000000) > 1 -%}
		{{ num / 1000000 | round }}M
	{# Millions #}
	{%- elif (num / 1000000) > 1 -%}
		{{ num / 1000000 | round(method="floor", precision=1) }}M
	{# Hundreds of thousands #}
	{%- elif (num / 100000) > 1 -%}
		{{ num / 1000 | round }}k
	{# Thousands #}
	{%- elif (num / 1000) > 1 -%}
		{{ num / 1000 | round(method="floor", precision=1) }}k
	{# Units #}
	{%- else -%}
		{{ num }}
	{%- endif -%}
{% endmacro suffix %}

{# Time suffix (for request times) #}
{% macro time_suffix(num) %}
	{# Minutes #}
	{%- if (num / 1000000) > 1 -%}
		{{ num / 1000000 | round(method="floor", precision=2) }}m
	{# Tens of seconds #}
	{%- elif (num / 100000) > 1 -%}
		{{ num / 1000 | round }}s
	{# Seconds #}
	{%- elif (num / 1000) > 1 -%}
		{{ num / 1000 | round(method="floor", precision=2) }}s
	{# Milliseconds #}
	{%- else -%}
		{{ num }}ms
	{%- endif -%}
{% endmacro suffix %}

{# Adds hyperlinks on body #}
{% macro url(body) %}
	{# Unwrap line breaks, split body on every space, and define the return variable #}
	{%- set ats = body | linebreaksbr | replace(from="<br>", to="<br> ") | split(pat=' ') -%}
	{%- set new_body = "" -%}

	{# Build the new body #}
	{%- for string in ats -%}
		{# Check for mentions #}
		{%- if string is containing("@") -%}
			{# Check whether they end in an exclamation mark #}
			{%- if string is ending_with("!")%}
				{%- set at = string | trim_end_matches(pat="!") -%}
				{%- set rest = "!" -%}
			{# Check whether they end in a question mark #}
			{%- elif string is ending_with("?") -%}
				{%- set at = string | trim_end_matches(pat="?") -%}
				{%- set rest = "?" -%}
			{# Leave string as-is if none of the previous characters were found #}
			{%- else -%}
				{%- set at = string -%}
				{%- set rest = "" -%}
			{%- endif -%}

			{# Append hyperlinked mention to new body #}
			{%- set at_tagged = '<a href="/' ~ at ~ '">' ~ at ~ '</a>' -%}
			{%- set_global new_body = new_body ~ at_tagged ~ rest ~ " " -%}

		{# Check for URLs #}
		{%- elif string is containing("://") -%}
			{# Strip down URL suffix to display it in a cleaner way #}
			{%- set url_string = string | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") | trim_start_matches(pat="www.") -%}
			{# Append hyperlinked URL to new body #}
			{%- set url_tagged = '<a href="' ~ string ~ '">' ~ url_string ~ '</a>' -%}
			{%- set_global new_body = new_body ~ url_tagged ~ " " -%}
		{# Append string as-is to new body if none of the previous cases were satisfied #}
		{%- else -%}
			{%- set_global new_body = new_body ~ string ~ " " -%}
		{%- endif -%}
	{%- endfor -%}

	{# Return new body #}
	{{new_body | trim | safe }}
{% endmacro url %}


{# Post structure #}
{% macro post(post, clickable) %}
	<div class="post">
		<div class="post-header">
			<img class="post-pfp" src="{{post.author.pfp}}">
			<a class="post-username" href="/@{{post.author.username}}">@{{post.author.username}}</a>
			{# Add verification badge if user is verified #}
			{%- if post.author.verified -%}
				<img class="post-verified" src="/static/img/verified.svg" alt="Verified" title="Verified">
			{%- endif -%}
			<p class="base-inline-separator">•</p>
			<p class="post-faint">
			{# Make timestamp clickable if it's a subpost #}
			{%- if clickable and post.code -%}
				<a class="post-clickable-time" href="/t/{{post.code}}">
			{%- endif -%}
			{{ post.date | date }}
			{% if clickable and post.code %}
				</a>
			{% endif %}
			</p>
		</div>
		<p class="post-body">{{ self::url(body=post.body) }}</p>
		{# Add attachments if the post has any #}
		{%- if post.media | length > 0 -%}
			{{ self::media(media=post.media, subpost=clickable) }}
		{%- endif -%}
		<div class="post-footer">
			<img class="post-heart" src="/static/img/heart.svg" title="Likes" alt="Likes:">
			<p class="post-like-count post-faint">{{ self::suffix(num=post.likes) }}</p>
		</div>
	</div>
{% endmacro post %}

{# Return subpost, with its customized styling #}
{% macro subpost(post) %}
	<div class="subpost">
		{{ self::post(post=post, clickable=true) }}
	</div>
{% endmacro subpost %}

{# Append media to post #}
{% macro media(media, subpost) %}
	<div class="post-media">
		{%- for object in media -%}
			{# Check whether post has to be added to a row #}
			{%- if loop.index is odd and media | length % 2 == 0 or loop.index is odd and not loop.last and loop.index != media | length - 1 -%}
				<div class="post-media-row">
			{%- endif -%}

			{# Embed media depending on type and whether it's subposted or not #}
			{%- if object.kind == "Image" and not subpost -%}
				<img class="post-media-object" alt="{{object.alt}}" title="{{object.alt}}" src="{{object.content}}">
			{%- elif object.kind == "Image" -%}
				<img class="post-media-object" alt="{{object.alt}}" title="{{object.alt}}" src="{{object.thumbnail}}">
			{%- elif object.kind == "Video" and not subpost -%}
				<video controls class="post-media-object" alt="{{object.alt}}" title="{{object.alt}}"
					poster="{{object.thumbnail}}" src="{{object.content}}">
				</video>
			{%- else -%}
				<img class="post-media-object" alt="{{object.alt}}" title="{{object.alt}}" src="{{object.thumbnail}}"
					alt="{{object.alt}}">
			{%- endif -%}
		
			{# Close row after second object is added #}
			{%- if loop.index is even and media | length % 2 == 0 or loop.index is even and not loop.last -%}
				</div>
			{%- endif -%}
		{%- endfor -%}
	</div>
{% endmacro media %}
