{% extends "common/base.html" %}

{% block title %}Home{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock head %}

{% block body %}
<div class="home">
	{# Title #}
	<h1 id="home-title">Shoelace</h1>
	<p id="home-subtitle">an alternative frontend for Threads</p>
	{# Search bar #}
	<form class="home-form" action="/find">
		<input id="home-value" type="text" name="value" placeholder="Jump to a profile...">
		<input class="home-button" type="submit" value="Go">
	</form>
</div>
{% endblock body %}
