{% extends "common/base.j2" %}

{% block title %}Home{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="/static/css/home.css">
	<meta property="og:title" content="Shoelace">
	<meta property="og:type" content="website">
	<meta property="og:description" content="a private frontend for Threads">
	<meta property="og:image" content="{{ base.url }}/static/img/shoelace.svg">
	<meta property="og:image:alt" content="Logo for Shoelace, consisting of a drawing depicting a shoelace twisted in a loop, with two aglets pointing upwards on each end.">
	<meta property="og:url" content="{{ base.url }}">
{% endblock head %}

{% block body %}
<div class="home">
	{# Title #}
	<h1 id="home-title">Shoelace</h1>
	<p id="home-subtitle">an alternative frontend for Threads</p>
	{# Search bar #}
	<form class="search-form" action="/find">
		<input id="search-value" type="text" name="value" placeholder="Jump to a profile...">
		<input class="search-button" type="submit" value="Go">
	</form>
</div>
{% endblock body %}
