{% extends "common/base.j2" %}

{% block title %}Post by @{{output.author.username}}{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="/static/css/post.css">
  {%- if output.parents.len() > 0 || output.replies.len() > 0 -%}
    <link rel="stylesheet" href="/static/css/subpost.css">
  {%- endif -%}
  {# Open Graph properties #}
  <meta property="og:type" content="article">
  <meta property="og:title" content="Post by @{{output.author.username}}">
  <meta property="og:description" content="{{output.body}}">
    {# TODO(otoayana): update
  {%- if response.Post.media | length > 0 -%}
    {%- if object.kind == "Image" -%}
      <meta property="og:image" content="{{output.content | safe }}">
      <meta property="og:image:alt" content="{{output.alt}}">
    {%- else -%}
      <meta property="og:video" content="{{output.content | safe }}">
    {%- endif -%}
  {%- endif -%}
    #}
  <meta property="og:url" content="{{ base.url|safe }}/t/{{ input }}">
{% endblock head %}

{% block body %}
  {{ output.render(base)?|safe }}
{% endblock body %}
