{% extends "common/base.j2" %}

{# Set user's username as the website title #}
{% block title %}@{{input}}{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="/static/css/user.css">
	{# Import post and subpost stylesheets if user has any posts #}
	{%- if output.posts.len() > 0 -%}
		<link rel="stylesheet" href="/static/css/post.css">
		<link rel="stylesheet" href="/static/css/subpost.css">
	{%- endif -%}
	{# Open Graph properties #}
	<meta property="og:type" content="profile">
	<meta property="og:title" content="{{output.name}} (@{{input}})">
	<meta property="og:description" content="{{output.bio}}">
	<meta property="og:image" content="{{output.pfp|safe }}">
	<meta property="og:image:alt" content="Profile picture for user @{{input}}">
	<meta property="og:url" content="{{ base.url|safe }}/@{{input}}">
	<meta property="og:first_name" content="{{output.name}}">
	<meta property="og:username" content="@{{input}}">
{% endblock head %}

{% block body %}
	<div class="user-profile">
		{# Embed user's profile picture #}
		<img class="user-pfp" src="{{output.pfp}}">
		<div class="user-info">
			{# Display title, which includes the user's display name and verification badge, if applicable #}
			<div class="user-title">
				<h1 class="user-name">{{output.name}}</h1>
				{%- if output.verified -%}
					<img class="user-verified" src="/static/img/verified.svg" alt="Verified" title="Verified">
				{%- endif -%}
				{%- if base.rss -%}
					<a class="user-feed-link" href="{{base.url}}/rss/{{input}}" title="Subscribe to RSS feed">
						<img class="user-feed" src="/static/img/feed.svg" alt="Subscribe to RSS feed">
					</a>
				{%- endif -%}				
			</div>
		
			{# Display user's details, including username and follower count #}
			<p class="user-details">@{{input}}<span class="base-inline-separator"> • </span>{{ self::number(output.followers.clone()) }} followers</h4>
			
			{# Add user's bio, if filled #}
			{%- if output.bio.len() > 0 -%}
				<p class="user-bio">{{ self::body(output.bio, base)?|safe }}</p>
			{%- endif -%}
		
			{# Add user's links #}
			{%- for link in output.links -%}
				<div class="user-links">
					{{ self::link(link)|safe }}
				</div>
			{%- endfor -%}
		</div>
	</div>

	{# Add user's posts, if there's any #}
	{%- if output.posts.len() > 0 -%}
		{%- for post in output.posts -%}
			{{ post.render(true, base).unwrap()|safe }}
		{%- endfor -%}
	{%- endif -%}

{% endblock body %}
