{% extends "common/base.html" %}
{% import "common/macro.html" as macro %}

{# Set user's username as the website title #}
{% block title %}@{{request}}{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="/static/css/user.css">
	{# Import post and subpost stylesheets if user has any posts #}
	{%- if response.User.posts | length > 0 -%}
		<link rel="stylesheet" href="/static/css/post.css">
		<link rel="stylesheet" href="/static/css/subpost.css">
	{%- endif -%}
	{# Open Graph properties #}
	<meta property="og:type" content="profile">
	<meta property="og:title" content="{{response.User.name}} (@{{request}})">
	<meta property="og:description" content="{{response.User.bio}}">
	<meta property="og:image" content="{{response.User.pfp | safe }}">
	<meta property="og:image:alt" content="Profile picture for user @{{request}}">
	<meta property="og:url" content="{{ base_url | safe }}/@{{request}}">
	<meta property="og:first_name" content="{{response.User.name}}">
	<meta property="og:username" content="@{{request}}">
{% endblock head %}

{% block body %}
	<div class="user-profile">
		{# Embed user's profile picture #}
		<img class="user-pfp" src="{{response.User.pfp}}">
		<div class="user-info">
			{# Display title, which includes the user's display name and verification badge, if applicable #}
			<div class="user-title">
				<h1 class="user-name">{{response.User.name}}</h1>
				{%- if response.User.verified -%}
					<img class="user-verified" src="/static/img/verified.svg" alt="Verified" title="Verified">
				{%- endif -%}
				{%- if rss -%}
					<a class="user-feed-link" href="{{base_url}}/rss/{{request}}" title="Subscribe to RSS feed">
						<img class="user-feed" src="/static/img/feed.svg" alt="Subscribe to RSS feed">
					</a>
				{%- endif -%}				
			</div>
		
			{# Display user's details, including username and follower count #}
			<p class="user-details">@{{request}}<span class="base-inline-separator"> • </span>{{ macro::suffix(num=response.User.followers) }} followers</h4>
			
			{# Add user's bio, if filled #}
			{%- if response.User.bio | length > 0 -%}
				<p class="user-bio">{{ response.User.bio | linebreaksbr | safe }}</p>
			{%- endif -%}
		
			{# Add user's links #}
			{%- for link in response.User.links -%}
				<div class="user-links">
					<a href="{{ link }}">{{ link | trim_start_matches(pat="http://") | trim_start_matches(pat="https://") | trim_end_matches(pat="/") }}</a>
				</div>
			{%- endfor -%}
		</div>
	</div>

	{# Add user's posts, if there's any #}
	{%- if response.User.posts -%}
		{%- for post in response.User.posts -%}
			<hr>
			{{ macro::subpost(post=post) }}
		{%- endfor -%}
	{%- endif -%}

{% endblock body %}
