{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{response.name}}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/user.css">
{% if response.posts | length > 0 %}
<link rel="stylesheet" href="/static/css/post.css">
<link rel="stylesheet" href="/static/css/subpost.css">
{% endif %}
{% endblock head %}

{% block body %}
<div class="profile">
	<img class="pfp" src="http://localhost:8080/proxy/{{response.pfp}}">
	<div class="info">
		<div class="user-title">
			<h1 class="name">{{response.name}}</h1>
			{% if response.verified %}
			<img class="user-verified" src="/static/img/verified.svg">
			{% endif %}
		</div>
		<p class="followers">@{{request}} • {{ macros::suffix(num=response.followers) }} followers</h4>
		<p class="bio">{{response.bio}}</p>
		{% for link in response.links %}
		<div class="links">
			<a href="{{ link }}">{{ link | trim_start_matches(pat="http://") |
				trim_start_matches(pat="https://") |
				trim_end_matches(pat="/") }}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% if response.posts %}
{% for post in response.posts %}
<hr>
{{ macros::subpost(post=post) }}
{% endfor %}
{% endif %}
{% endblock body %}